<!DOCTYPE html>
<html class="no-js background " lang="en">
<head>
    <meta charset="utf-8">
    <title>X-SMS - @ViewBag.Title </title>

    <meta name="description" content="Stock Market simulation Game v0.1">
    <meta name="author" content="Team X">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/GameBoardCSS/resources/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/Clock/flipclock.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/Clock/flipclock.js"></script>
    <script src="~/Scripts/NewsBox/jquery.bootstrap.newsbox.js"></script>
    <script src="~/Scripts/ChartsJs/Chart.bundle.js"></script>
    <script src="~/Scripts/ChartsJs/utils.js"></script>
    <script src="~/Scripts/App/Charts.js"></script>
    <script src="~/Scripts/App/GameBoard.js"></script>
    <script src="~/Scripts/App/Main.js"></script>

    <link href="~/Content/GameBoardCSS/resources/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="/Content/GameBoardCSS/Fontawesome/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0 />
</head>
<body>
 
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top header-background">
            <div class="container  " >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="">
                        <img class="logo" alt="logo" src="../Content/images/logo.png">
                    </div>
                </div>
                <div id="navbar" class="collapse navbar-collapse" style=" float: right;">
                    <ul class="nav navbar-nav">
                        <li class="active "><a href="#" style="padding: 30px 15px 30px 15px; font-size: 17px;">Home</a></li>
                        <li><a href="#" class="header-item" style="padding: 30px 15px 30px 15px; font-size: 17px;" >Rules</a></li>
                        <li><a href="#" class="header-item" style="padding: 30px 15px 30px 15px; font-size: 17px;">About</a></li>
                    </ul>
                </div>
    </div>
    </nav>
  
    <div class="container  " id="content">
        @RenderBody()
    </div>


    </div>
    <div id="mdlMessage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="msgTitle"> </span></h4>
                </div>
                <div class="modal-body">
                    <p><span id="msgBody"></span></p>
                </div>
            </div>

        </div>
    </div>

    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


</body>
</html>
